<!doctype html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Live Streaming Demonstration</title>
</head>
<script>
var SpeechRecognition = window.webkitSpeechRecognition;
var recognition = new SpeechRecognition();
var Content = '';

recognition.continuous = true;

recognition.onresult = function(event) {

  var current = event.resultIndex;

  var transcript = event.results[current][0].transcript;
 
    Content += transcript;
    console.log(Content);
  
};


recognition.onstart = function() { 
  console.log('Voice recognition is ON.');
}

recognition.onspeechend = function() {
  console.log('No activity.');
}

recognition.onerror = function(event) {
  if(event.error == 'no-speech') {
    console.log('Try again.');  
  }
}


  recognition.start();



</script>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" width="100%">
          
        </div>
        <button onclick="f()"> stop </button>

        <script>
            function f() {
                xhttp = new XMLHttpRequest();
            xhttp.open("GET","/video_feed?stop=True&content="+Content, true);
            xhttp.send();
            xhttp.open("GET","/stop?content="+Content, true);
            xhttp.send();
            }
        </script>
    </div>
</div>
</body>
</html>